.engineerOuput {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.divider {
    width: 70%;
}

.uscMakersSelection {
    margin-top: 5vh;
    width: 95%;
    height: 20vh;
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uscMakersSelection:hover {
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4); 
}


.pltwSelection {
    margin-top: 2vh;
    width: 95%;
    height: 20vh;
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}

.pltwSelection:hover {
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4); 
}

.selectionInner {
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
}

.projectInfoContainer {
    text-align: left;
}

.uscMakersIcon {
    width: 13vh;
    height: 13vh;
    margin-left: 1vw;
    margin-right: 3vw;
}

.pltwIcon {
    width: 13vh;
    height: 13vh;
    margin-left: 1vw;
    margin-right: 3vw;
}

.selectionTitleContainer {
    color: white;
    letter-spacing: 0.25vw;
}

.selectionDecriptionContainer {
    color: rgb(185, 187, 216);
    font-size: 0.9em;
}
