body {
    background: rgb(0, 6, 57);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;  
}

.gap {
    height: 10vh;
}

.mainPageHeader {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 6, 57, 0.85);
  }
  

.mainLabel {
    margin-left: 2vw;
    color: rgb(170, 179, 255);
    font-weight: bold;
    font-size: calc(7px + .5vw);
    letter-spacing: 0.155em; 
}


.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2vw;
    font-size: calc(10px + .5vw);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 200;
    color: rgb(255, 255, 255);
  }
  
.navList li {
    display: inline;
    margin-right: 1vw;
    font-size: 0.85em;
    color: white;
    cursor: pointer;
}

.mainPageInner {
    padding: 0 5vw; 
}

.homeSec {
    height: calc(150px + 30vw);
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative; 
}

.introContent, .techBackground, .headshot {
    position: absolute;
}

.introContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10vh 10vw;
    left: 0;
    z-index: 2; 
}

.techBackground {
    position: absolute;
    width: 65vw; 
    /* height: 45vw;  */
    right: 0;
    /* right: 23vw; */
    /* bottom: -25vh; */
    z-index: 1;   
    opacity: 0.5;
}

.headshot {
    position: absolute;
    /* height: 60vh;  */
    width: 20vw;
    /* min-width: 200px; */
    right: 23vw;
    /* bottom: 0; */
    z-index: 3; 
}

.background {
    position: absolute;
    width: 40vw;
    right: 5vw;
    bottom: 0;
}

.intro {
    color: rgb(170, 179, 255);
    font-size: calc(5px + 1vw);
    font-weight: bold;
}

.name {
    color: white;
    font-size: 3em;
    font-size: calc(15px + 2vw);
    font-weight: bold;
}

.careerList {
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    font-size: calc(2.5px + 0.75vw);
    display: flex;
    flex-direction: row;
}   

.contactMeButton:hover {
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.4); 
    background: rgb(224, 227, 255);
}


.contactMeButton {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: 110px;
    height: 3vw;
    padding: 1.3em 3em;
    font-size: 1em;
    font-size: calc(5px + .5vw);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(149, 158, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 5px 5px rgba(255, 226, 226, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-right: 1vw;
    white-space: nowrap;
}

 .contactMeButton:hover .downloadIcon {
    display: inline;
 }
  
.contactMeButton:hover { 
    background-color: rgb(170, 173, 255);
    box-shadow: 0px 5px 20px rgba(195, 196, 255, 0.4);
    color: #fff;
    transform: translateY(-5px);
}
  
.contactMeButton:active {
    transform: translateY(-1px);
}


.downloadCvButtonLabel {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.downloadCvButton {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 15vw;
    min-width: 115px;
    height: 3vw;
    padding: 1.3em 3em;
    font-size: calc(5px + .5vw);    
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: rgb(0, 6, 57);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 5px 5px rgba(255, 226, 226, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .downloadCvButton:hover .downloadIcon {
    display: inline;
  }

.downloadIcon {
    height: 1.2em;
    width: 1.2em;
    display: none;
}

.downloadIcon.hidden {
    display: none;
}

.downloadCvButton.clicked {
    background-color: rgb(0, 6, 57);
}

.svg {
    height: 100%;
    width: 100%;
}
  
.downloadCvButton:hover { 
    background-color: rgb(0, 6, 57);
    box-shadow: 0px 5px 20px rgba(195, 196, 255, 0.4);
    color: #fff;
    transform: translateY(-5px);
}
  
.downloadCvButton:active {
    transform: translateY(-1px);
}
  
.downloadCvButton:hover .downloadIcon,
.downloadCvButton.clicked .downloadIcon {
  display: inline;
}

.downloadIcon {
  height: 1.2em;
  width: 1.2em;
  display: none;
}

.downloadCvButtonLabel {
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
}
  
.downloadIcon {
    flex-grow: 0; 
}
  
.downloadCvButton.clicked .downloadCvButtonLabel,
.downloadCvButton:hover .downloadCvButtonLabel {
    text-align: left; 
}
  


.textContainer {
    flex-grow: 1;
}
  
.iconContainer {
    display: flex;
    align-items: center;
}

.aboutSec {
    position: relative;
    background: rgb(0, 3, 30);
    border: 0.5px solid rgb(111, 125, 255);
    height: 51vh;
    z-index: 8; 
    filter: drop-shadow(10px 10px 100px rgba(170, 178, 255, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.aboutSecInner {
    max-width: 90%;
    height: 55%;
    margin-bottom: 3vh;
}



.aboutMeTitle {
    color: aliceblue;
    font-size: calc(10px + 1.5vw);
    letter-spacing: 1vw;
    font-weight: lighter;
}

.aboutMeInfo {
    color: white;
    font-weight: bold;
    font-size: calc(3px + 0.65vw);
}

.aboutMeContent {
    color: rgb(185, 187, 216);
    font-weight: lighter;
    font-size: calc(4.5px + 0.65vw);
    line-height: 2;
}

.contactOptions {
    display: flex;
    justify-content: center;
}

.linkedInContactButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2867B2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid #bbecff; 
    margin-left: 1vw;
    margin-right: 1vw;
}
  
.logoIcon {
    fill: white;
}
  
.linkedInContactLabel {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #2867B2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
  
.linkedInContactLabel::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #2867B2;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
}
  
.linkedInContactButton:hover .linkedInContactLabel {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
}
  
.linkedInContactButton:hover {
    background-position: right;
    transition-duration: .5s;
}


.githubContactButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #181717;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid rgb(193, 193, 193);  
    margin-left: 1vw;
    margin-right: 1vw;
}
  
.logoIcon {
    fill: white;
}
  
.githubContactLabel {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #181717;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
  
.githubContactLabel::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #181717;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
}
  
.githubContactButton:hover .githubContactLabel {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
}
  
.githubContactButton:hover {
    background-position: right;
    transition-duration: .5s;
}


.emailContactButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #D44638;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid #ffbbbb;
    margin-left: 1vw;
    margin-right: 1vw;
}
  
.logoIcon {
    fill: white;
}
  
.emailContactLabel {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #D44638;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}
  
.emailContactLabel::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D44638;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
}
  
.emailContactButton:hover .emailContactLabel {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
}
  
.emailContactButton:hover {
    background-position: right;
    transition-duration: .5s;
}


.resumeContactButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #181717;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid #c8c8c8; 
    margin-left: 1vw;
    margin-right: 1vw;
}
  
.logoIcon {
    fill: white;
}
  
.resumeContactLabel {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #181717;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
  
.resumeContactLabel::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #181717;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
}
  
.resumeContactButton:hover .resumeContactLabel {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
}
  
.resumeContactButton:hover {
    background-position: right;
    transition-duration: .5s;
}


.experienceSec {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experienceSec {
    position: relative;
}
  
.workExperienceContainer {
    position: relative;
}
  
.timeline {
    position: absolute;
    width: 100%;
    height: 0.5vh;
    background-color: white; 
    bottom: 30%; 
    left: 0;
}


.workExperienceLabel {
    color: white;
    font-size: calc(10px + 1.5vw);
    letter-spacing: 1.35vw;
    font-weight: lighter;
}

.workExperienceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 90%;
}

.job {
    flex: 1;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    cursor: pointer;
    transition: filter 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.job:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4); 
}

.jobContainerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.jobIcon {
    width: 9vw;
    border-radius: 10px;
    cursor: pointer;
}

.jobDate {
    font-size: 1.75em;
    font-size: calc(10px + 1vw);
    color: aliceblue;
    margin-top: 3vh;
    letter-spacing: 0.2vw;
    cursor: pointer;
}

.jobLabel {
    font-size: 1.3em;
    font-size: calc(6px + 1vw);
    font-weight: bold;
    color: aliceblue;
    margin-top: 1vh;
    cursor: pointer;
}

.roleDescription {
    font-size: 0.85em;
    font-size: calc(2px + 1vw);
    font-weight: lighter;
    color: rgb(185, 187, 216);
    cursor: pointer;
}

.porfolioSec {
    height: 50vh;
}

.porfolioSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.selectedOutput {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left, .right {
    width: 10%;
 }
 
 .center {
    width: 70%;
 }
 

.returnToPortfolio {
    margin-top: 15vh;
    color: white;
    margin-left: 3vw;
    font-size: 1.5em;
    transform: scaleX(3);
    font-weight: lighter;
    cursor: pointer;
}

.selectionLabel {
    margin-top: 14vh;
    color: white;
    font-size: calc(10px + 1.5vw);
    letter-spacing: 1.35vw;
    font-weight: lighter;
}

.softwareDeveloperContainer, .engineerContainer, .artistContainer {
    flex: 1;
    height: 100%;
    /* background: red; */
    margin-right: 2vw;
    margin-left: 2vw;
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.softwareDeveloperContainer:hover, .engineerContainer:hover, .artistContainer:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4); 
}
  
.selected {
    flex: 1;
    height: 100%;
    margin-right: 2vw;
    margin-left: 2vw;
    background: rgb(0, 3, 30);
    border: 1px solid rgba(170, 179, 255 , 0.6);
    filter: drop-shadow(5px 5px 10px rgba(170, 178, 255, 0.2));
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.selectedSec {
    height: 100vh;
}

.softwareDeveloperContainerInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: auto;
    cursor: pointer;
}

.softwareDeveloperLabel {
    color: white;
    letter-spacing: 0.25vw;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.softwareDeveloperDescription {
    color: white;
    line-height: 3;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.softwareDeveloperLearnMore {
    color: #AAB2FF;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.engineerContainerInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: auto;
    cursor: pointer;
}

.engineerLabel {
    color: white;
    letter-spacing: 0.25vw;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.engineerDescription {
    color: white;
    line-height: 3;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.engineerLearnMore {
    color: #AAB2FF;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.artistContainerInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: auto;
    cursor: pointer;
}

.artistLabel {
    color: white;
    font-size: calc(2px + 0.9vw);
    letter-spacing: 0.25vw;
    cursor: pointer;
}

.artistDescription {
    color: white;
    line-height: 3;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.artistLearnMore {
    color: #AAB2FF;
    cursor: pointer;
    font-size: calc(2px + 0.9vw);
}

.contactSec{
    height: 22vh;
    background: #00031E;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.conectWithMeLabel {
    color: white;
    font-size: 1.35em;
    font-size: calc(4px + 1vw);
    letter-spacing: 0.35vw;
    font-weight: lighter;
    margin-bottom: 0.5vh;
}

.contactContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.linkedinBox {
    text-decoration: none;
    flex: 1;
    margin-left: 7vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000638;
    border: 1px solid rgba(145, 149, 172, 0.5);
    height: 80%;
}

.emailBox {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000638;
    border: 1px solid rgba(145, 149, 172, 0.5);
    height: 80%;
}

.githubBox {
    text-decoration: none;
    flex: 1;
    margin-right: 7vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000638;
    border: 1px solid rgba(145, 149, 172, 0.5);
    height: 80%;
}

.Btn {
    width: 45px;
    height: 45px;
    /* border: none; */
    border-radius: 50%;
    background-color: #00acee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid #bbecff;
  }
  
  .logoIcon {
    fill: white;
  }
  
  .tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #00acee;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00acee;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: .5s;
  }

.linkedinIconContact {
    width: 7vh;
    height: 7vh;
    margin-left: 2vw;
    margin-right: 1.5vw;
}

.linkedinInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.linkedinLabel {
    color: rgb(185, 187, 216);
    font-size: 0.9em;
    letter-spacing: 0.15em; 
}

.linkedinTag {
    color: rgb(145, 149, 172);
    font-size: 0.7em;
}

.emailIconContact {
    width: 7vh;
    height: 7vh;
    margin-left: 2vw;
    margin-right: 1.5vw;
}

.emailInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.emailLabel {
    color: rgb(185, 187, 216);
    font-size: 0.9em;
    letter-spacing: 0.15em; 
}

.emailTag {
    color: rgb(145, 149, 172);
    font-size: 0.7em;
}

.githubIconContact {
    width: 7vh;
    height: 7vh;
    margin-left: 2vw;
    margin-right: 1.5vw;
}


.githubInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.githubLabel {
    color: rgb(185, 187, 216);
    font-size: 0.9em;
    letter-spacing: 0.15em; 
}

.githubTag {
    color: rgb(145, 149, 172);
    font-size: 0.7em;
}


.githubInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}