.paintingContent {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
}

.paintingsLeft, .paintingsCenterLeft, .paintingsCenterRight, .paintingsRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.paintingCard {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    background: yellow;
}

.paintingCardInner {
    position: relative; /* This is crucial */
    background: #000639;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: filter 0.3s ease;
    text-decoration: none;
}

.paintingCard .imageContainer {
    background: rgb(214, 214, 221);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}

.paintingCard img {
    width: 97.5%;
    height: auto;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.paintingCardTitle {
    font-size: calc(3.5px + 0.85vw);
    color: white;
}

.paintingCardMedium {
    font-size: calc(1px + 0.85vw);
    font-style: italic;
    color: white;
}

.paintingCardDescription {
    padding: 1vw;
    font-style: italic;
    font-size: calc(0.5px + 0.9vw);
    letter-spacing: 0.155em; 
    line-height: 3;
    font-weight: 300;
    color: #BABABA;
    margin-bottom: 0.5vw;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.imageContainer, .paintingCardTitle, .paintingCardMedium {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.paintingCardInner:hover .imageContainer,
.paintingCardInner:hover .paintingCardTitle,
.paintingCardInner:hover .paintingCardMedium {
    opacity: 0;
    visibility: hidden;
}

.paintingCardInner:hover .paintingCardDescription {
    opacity: 1;
    visibility: visible;
}
