.softwareDeveloperOuput {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.divider {
    width: 70%;
}

.budgetTrackerSelection {
    margin-top: 1vw;
    /* margin-top: calc(0px + 1vw); */
    width: 95%;
    height: calc(4px + 10vw);
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.budgetTrackerSelection:hover {
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4); 
}

.hysteresisCalculatorSelection {
    margin-top: 1vw;
    width: 95%;
    /* height: 20vh; */
    height: calc(4px + 10vw);
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hysteresisCalculatorSelection:hover {
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4); 
}


.personalWebsiteSelection {
    margin-top: 1vw;
    width: 95%;
    /* height: 20vh; */
    height: calc(4px + 10vw);
    background: rgb(0, 6, 57);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    cursor: pointer;
}   

.personalWebsiteSelection:hover {
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4); 
}

.selectionInner {
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
}

.projectInfoContainer {
    text-align: left;
    cursor: pointer;
}

.budgetTrackerIcon {
    width: calc(7px + 6vw);
    margin-left: 1vw;
    margin-right: 3vw;
    cursor: pointer;
}

.hysteresisCalculatorIcon {
    width: calc(7px + 6vw);
    margin-left: 1vw;
    margin-right: 3vw;
    cursor: pointer;
}

.personalWebsiteIcon {
    width: calc(7px + 6vw);
    margin-left: 1vw;
    margin-right: 3vw;
    cursor: pointer;
}

.selectionTitleContainer {
    color: white;
    letter-spacing: 0.25vw;
    font-size: calc(3.2px + 0.75vw);
    cursor: pointer;
}

.selectionDecriptionContainer {
    color: rgb(185, 187, 216);
    font-size: calc(3px + 0.75vw);
    cursor: pointer;
}